
<div class="content_grid_item_chapter">
    <ul>
        <li><a href="#" title="@Model.TenChuongTruyen">Chapter @Model.ThuTuChuong</a><i class="time">@Model.ThoiGianCapNhat</i></li>
        @*<li><a href="https://ww1.mangafox.online/berserk-of-gluttony/vol-1-chapter-12-a-still-village-153383471224823" title="Vol.1 Chapter 12: A Still Village">Vol.1 Chapter 12: A Still Village</a><i class="time">2 weeks ago</i></li>
            <li><a href="https://ww1.mangafox.online/berserk-of-gluttony/vol-1-chapter-11-second-form-964710531682926" title="Vol.1 Chapter 11: Second Form">Vol.1 Chapter 11: Second Form</a><i class="time">February 2019</i></li>*@
    </ul>
</div>
