@using Testing.Models
@using PagedList.Mvc;
@model IEnumerable<BanDich>

@{
    ViewBag.Title = "QuanLy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="padding">
    <div class="m-b">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/User/Index">Index</a></li>
            <li class="breadcrumb-item active">Bản dịch đang quản lí</li>
        </ol>
    </div>
    <div class="box">
        <div class="box-header">

        </div>
        <button id="buttonxoa" type="submit" value="Delete" class="btn btn-fw danger" onclick="return confirm('Bạn có chắc muốn xoá?')" style="margin:20px;">Xoá bản dịch</button>
        <div class="table-responsive">
            <table ui-jp="dataTable" class="table table-striped b-t b-b">
                <thead>
                    <tr>
                        <th style="width:5%"></th>
                        <th style="width:30%">Tên Truyện</th>
                        <th style="width:15%">Ngôn Ngữ</th>

                        <th style="width:15%">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td><input type="checkbox" id="chekbox" name="ID" value="@item.MaBanDich" class="custom-checkbox chkCheckBoxId" /></td>
                        
                        <td class="center">
                            <a href="/BanDich/DanhSachChuong/@item.MaProject?name=@item.MaBanDich">
                                @item.Truyen.TenProject
                            </a>
                        </td>
                        <td class="center">
                            @item.NgonNgu.TenNgonNgu
                        </td>

                        <td class="center">
                            @item.Truyen.TrangThai1.TenTrangThai
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
