@model Testing.Models.Truyen

@{
    ViewBag.Title = "TaoMoi";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-tagsinput.css" />
</head>

<body>
    @using (Html.BeginForm("TaoMoi", "Truyen", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Tạo Truyện Mới</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-3 text-right">
                <label class="control-label" for="Name">Tên Truyện</label>
                <span class="text-error">(*)</span>
            </div>
            <div class="col-sm-8">
                <input nam class="form-control url-create" data-val="true" data-val-required="'Tên truyện' là trường thông tin bắt buộc" id="Name" name="Name" placeholder="Tên truyện" type="text" value="" _vkenabled="true">
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 text-right">
                <label class="control-label" for="OtherName">Tên Khác</label>
                <span class="text-error">(*)</span>
            </div>
            <div class="col-sm-8">
                <input class="form-control url-create" data-val="true" required data-val-required="'Tên Khác' là trường thông tin bắt buộc" id="OtherName" name="OtherName" placeholder="Tên Khác" type="text" value="" _vkenabled="true">
                <span class="field-validation-valid" data-valmsg-for="OtherName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 text-right">
                <label class="control-label" for="Anh">Ảnh Bìa</label>
                <span class="text-error">(*)</span>
                <input class="form-control uploadfile" id="Anh" name="fileupload" type="file" />
            </div>

            

        </div>
        <div class="form-group">
            <div class="col-sm-3 text-right">
                <label class="control-label" for="MoTa">Mô Tả</label>
                <span class="text-error">(*)</span>
            </div>
            <div class="col-sm-8">
                <input nam class="form-control url-create" data-val="true" data-val-required="'Mô Tả' là trường thông tin bắt buộc" id="MoTa" name="MoTa" placeholder="Mô Tả" type="text" value="" _vkenabled="true">
                <span class="field-validation-valid" data-valmsg-for="MoTa" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 text-right">
                <label class="control-label" for="TacGia">Tác Giả</label>
                <span class="text-error">(*)</span>
            </div>
            <div class="col-sm-8">
                <input nam class="form-control url-create" data-val="true" data-val-required="'Tác Giả' là trường thông tin bắt buộc" id="TacGia" name="TacGia" placeholder="Tên tác giả" type="text" value="" _vkenabled="true">
                <span class="field-validation-valid" data-valmsg-for="TacGia" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 text-right">
                <label class="control-label typehead" for="TheLoai">Thể Loại</label>
                <span class="text-error">(*)</span>
            </div>
            <div class="col-sm-8">
                <input nam class="form-control url-create" data-val="true" data-val-required="'Thể Loại' là trường thông tin bắt buộc" id="TheLoai" name="TheLoai" placeholder="Mô Tả" type="text" value="" _vkenabled="true" data-role="tagsinput">


                <span class="field-validation-valid" data-valmsg-for="TheLoai" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.DropDownList("MaTrangThai")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>



    </div>

    }
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="~/Content/typeahead.bundle.js"></script>
</body>
<div>

    @Html.ActionLink("Back to List", "Index")
</div>


