<div class="p-a-md">
    <div class="clearfix m-b-lg">
        <div class="col-md-6 p-a-0">
            
            <div class="form-group">
                <label>Mật khẩu cũ</label>
                <input type="hidden" value="@ViewBag.TK" id="TK" name="TK" />
                <input type="hidden" value="@ViewBag.MK" id="pwd" />
                <input type="password" class="form-control"data-parsley-equalto="#id" data-parsley-error-message="Mật khẩu không trùng khớp" required data-parsley-required-message = "Không được để trống">
            </div>
            <div class="form-group">
                <label>Mật khẩu mới</label>
                <input id="MatKhau" name="MatKhau" type="password" class="form-control" required data-parsley-length = "[6, 32]" data-parsley-length-message = "Yêu cầu từ 6-32 kí tự" data-parsley-required-message = "Không được để trống">
            </div>
            <div class="form-group">
                <label>Xác nhận mật khẩu</label>
                <input type="password" class="form-control" data-parsley-equalto="#MatKhau" data-parsley-error-message="Xác nhận mật khẩu không trùng khớp" required>
            </div>
            <button type="submit" class="btn btn-info m-t">Cập nhật</button>
        </div>
    </div>
</div>
