
<div style="text-align:center">
    @if (ViewBag.chuongtruoc != null)
    {
        <a class="btn active" href="/Home/XemTruyen/?id=@ViewBag.chuongtruoc.MaProject&chuong=@ViewBag.chuongtruoc.MaChuongTruyen&mabandich=@ViewBag.Mabandich" title="Chương trước">Chương trước</a>
    }
    else
    {
        <a class="btn disabled" href="#." title="Chương trước">Chương trước</a>
    }
        <select name="list_chapters1" id="list_chapters1" onchange="window.location.href=$(this).val()" style="height:50px; padding:10px;">
            @foreach (var truyen in ViewBag.ListChuong)
            {
                if (ViewBag.MaChuong == truyen.MaChuongTruyen)
                {
                    <option selected value="/Home/XemTruyen/?id=@truyen.MaProject&chuong=@truyen.MaChuongTruyen&mabandich=@ViewBag.Mabandich"> @truyen.TenChuongTruyen</option>
                }
                else
                {
                    <option value="/Home/XemTruyen/?id=@truyen.MaProject&chuong=@truyen.MaChuongTruyen&mabandich=@ViewBag.Mabandich">@truyen.TenChuongTruyen</option>
                }
            }
        </select>
    @if (ViewBag.chuongsau != null)
    {
        <a class="btn" href="/Home/XemTruyen/?id=@ViewBag.chuongsau.MaProject&chuong=@ViewBag.chuongsau.MaChuongTruyen&mabandich=@ViewBag.Mabandich" title="Chương sau">Chương sau</a>
    }
    else
    {
        <a class="btn disabled" href="#." title="Chương sau">Chương sau</a>
    }
</div>

