
<div class="content_grid_item_chapter">
    <ul>
        <li style="font-size:10px;"><a href="#" title="@Model.TenChuongTruyen">Chapter @Model.ThuTuChuong</a> - @Model.ThoiGianCapNhat</li>
    </ul>
</div>
