
<div class="manga_chapter">
    <div class="manga_title">
        <h3>Chương truyện</h3>
    </div>
    <div class="manga_chapter_list">
        <div class="title_list_chapter">
            <div class="chapter_number">Tên Chương</div>
            <div class="chapter_time">Lượt xem</div>
            <div class="chapter_view">Ngày đăng</div>
        </div>
        <ul>
            @foreach (var truyen in Model)
            {
                <li>
                    <div class="chapter_number"><a href="/Home/XemTruyen/?id=@truyen.MaProject&chuong=@truyen.MaChuongTruyen&mabandich=@ViewBag.Mabandich" title="@truyen.TenChuongTruyen">@truyen.TenChuongTruyen</a></div>
                    <div class="chapter_time">@truyen.LuotXem</div>
                    <div class="chapter_view">@truyen.ThoiGianCapNhat</div>
                </li>
            }
        </ul>
    </div>
</div>


