@foreach (var truyen in Model)
{
    <li style="float:left; padding-left:5px; padding-top:5px;"><a style="display: inline-block;width: 70px; height: 70px; padding: 2px; border: 1px solid #b5b5b5;" href="/Home/ThongTinTruyen/@truyen.MaProject?name=@truyen.MabanDich"><img style="width:64px; height:64px; margin:auto" src="~/Truyen/@truyen.AnhBia" /></a></li>
}
