<!DOCTYPE html>
<html>
<head>
    <title>Manga</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.simplePagination.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/simplePagination.css" rel="stylesheet" />
    @*<link href="https://ww1.mangafox.online/images/icon.png" rel="shortcut icon">*@
    <script src="~/Scripts/subscribe.js"></script>

    <!-- Composite Start -->
    @*<div id="M394429ScriptRootC322549">
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById',lp=d.location.protocol,wp=lp.indexOf('http')==0?lp:'https:';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M394429ScriptRootC322549")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M394429ScriptRootC322549");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=322549;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src=wp+"//jsc.mgid.com/m/a/mangafox.online.322549.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
        </script>
    </div>*@
    <!-- Composite End -->

</head>
<body>
    @* Menu đầu *@
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="logo">
                    <a href="/Home/Index" title="Manga">
                        <img src="~/Images/Head icon/Manga.jpg" style="width:50px; height:50px; margin-bottom:5px;" />
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="" title="Categories">Thể loại <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            <ul id="TheLoai">
                                @Html.Action("TheLoai","Home")
                                @*<li><a href="#" title="Romance">Romance</a></li>
                                <li><a href="#" title="Comedy">Comedy</a></li>
                                <li><a href="#" title="Drama">Drama</a></li>
                                <li><a href="#" title="School life">School life</a></li>
                                <li><a href="#" title="Shoujo">Shoujo</a></li>
                                <li><a href="#" title="Action">Action</a></li>
                                <li><a href="#" title="Shounen">Shounen</a></li>
                                <li><a href="#" title="Fantasy">Fantasy</a></li>
                                <li><a href="#" title="Slice of life">Slice of life</a></li>
                                <li><a href="#" title="Supernatural">Supernatural</a></li>
                                <li><a href="#" title="Seinen">Seinen</a></li>
                                <li><a href="#" title="Yaoi">Yaoi</a></li>
                                <li><a href="#" title="One shot">One shot</a></li>
                                <li><a href="#" title="Adventure">Adventure</a></li>
                                <li><a href="#" title="Ecchi">Ecchi</a></li>*@
                            </ul>
                        </li>
                        <li><a href="/Home/TruyenNoiBat" title="Most Views">Nổi bật</a></li>
                        @Html.Partial("_LoginPartial")                       
                    </ul>         
                          
                </div>
                @* Hộp tìm kiếm *@
                <div id="txtTimKiem" class="search">
                    @using (Html.BeginForm("KetQuaTimKiem","TimKiem"))
                    {
                        @Html.TextBox("txtTimKiem","",htmlAttributes: new { @class="TextBoxTimKiem", @placeholder="Nhập từ khóa tìm kiếm"})
                       <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    }
                </div>
                @*<div class="search">
                    <form action="https://ww1.mangafox.online/search/">
                        <input type="text" placeholder="Search ..." id='s' name='s'>
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>*@   
                @* Nút chức năng khi thu nhỏ website *@         
                <div class="menu_xs_sm">
                    <a href="#" title=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </header>

    

    @* Truyện tranh mới update/chap/truyện mới *@
    <section id="content">
        <div class="my_container">
            <div class="content">
                @* Item bên trái *@
                @RenderBody();

                @* Item Bên phải *@
                <div class="content_right">
                    @* Manga top week *@
                    <div class="top_manga_weekly">
                        <div class="title">
                            <h3>Top Views</h3>
                        </div>
                        <ul>
                            @*<li>
                                <div>1</div>
                                <a href="https://ww1.mangafox.online/why-are-you-here-sensei" title="Why are you here Sensei!?">Why are you here Sensei!?</a>
                            </li>*@
                        </ul>
                    </div>
                    @* Manga mới *@
                    <div class="manga_news">
                        <div class="title">
                            <h3>Truyện mới</h3>
                        </div>
                        <div class="manga_new">
                            @*<a href="https://ww1.mangafox.online/my-lv999-love-for-yamada-kun" title="My Lv999 Love for Yamada-kun">
                                <img src="https://cdn1.mangafox.online/536/200/267/965/398/my-lv999-love-for-yamada-kun.jpg" class="img-responsive">
                            </a>*@                            
                        </div>
                    </div>
                    @* Tìm kiếm theo danh mục/tag *@
                    <div class="danhmuc">
                        <div class="title">
                            <h3>Bình luận</h3>
                        </div>
                        <table>
                            <tbody>
                                @*<tr>
                                    <td>
                                        <a href="#" title="Romance">Romance</a>
                                    </td>
                                    <td>
                                        <a href="#" title="Comedy">Comedy</a>
                                    </td>
                                    <td>
                                        <a href="#" title="Drama">Drama</a>
                                    </td>
                                </tr>*@                                         
                            </tbody>
                        </table>
                    </div>
                    @* Tìm kiếm theo chữ cái *@
                    <div class="alphabet">
                        <div class="title">
                            <h3>Top Users</h3>
                        </div>
                        <ul>
                            @*<li><a href="#" title="Manga Alphabet A">A</a></li>
                            <li><a href="#" title="Manga Alphabet B">B</a></li>*@                   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* Đuôi footer *@
    <footer style="margin-top:10px;">
        <div class="my_container">
            <div class="footer">
                <div class="footer_left">
                    <span>Copyright © 2018 Manga All Rights Reserved.</span>
                </div>
                <div class="footer_right">
                    <ul>
                        <li>
                            <a href="#">Romance</a>
                        </li>
                        <li>
                            <a href="#">Comedy</a>
                        </li>
                        <li>
                            <a href="#">Drama</a>
                        </li>
                        <li>
                            <a href="#">Fantasy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @* Chế độ mobi *@
    <div id="categories">
        <div>
            <i class="fa fa-times closes" aria-hidden="true"></i>
        </div>
        <div class="search_mobile">
            <form action="https://ww1.mangafox.online/search/" class="frm_search">
                <input type="text" class="input_search" id='s' name='s' placeholder="Text search ...">
                <button title="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <ul class="mobile_menu">
            <li>
                <a href="https://ww1.mangafox.online/topmanga" title="Top Views">Top Views</a>
            </li>
            <li><a href="https://ww1.mangafox.online/newmanga" title="New Manga">New Manga</a></li>
            <li><a href="https://mangastream.online/" title="MangaStream">MangaStream</a></li>
            <li><a href="#">Đăng ký/Đăng nhập</a></li>
            <li>
                <a href="#" title="Faq">Categories</a>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <ul class="cat_level1">
                    <li><a href="https://ww1.mangafox.online/category/romance" title="Romance">Romance</a></li>
                    <li><a href="https://ww1.mangafox.online/category/comedy" title="Comedy">Comedy</a></li>
                    <li><a href="https://ww1.mangafox.online/category/drama" title="Drama">Drama</a></li>
                    <li><a href="https://ww1.mangafox.online/category/school-life" title="School life">School life</a></li>
                    <li><a href="https://ww1.mangafox.online/category/shoujo" title="Shoujo">Shoujo</a></li>
                    <li><a href="https://ww1.mangafox.online/category/action" title="Action">Action</a></li>
                    <li><a href="https://ww1.mangafox.online/category/shounen" title="Shounen">Shounen</a></li>
                    <li><a href="https://ww1.mangafox.online/category/fantasy" title="Fantasy">Fantasy</a></li>
                    <li><a href="https://ww1.mangafox.online/category/slice-of-life" title="Slice of life">Slice of life</a></li>
                    <li><a href="https://ww1.mangafox.online/category/supernatural" title="Supernatural">Supernatural</a></li>
                    <li><a href="https://ww1.mangafox.online/category/seinen" title="Seinen">Seinen</a></li>
                    <li><a href="https://ww1.mangafox.online/category/yaoi" title="Yaoi">Yaoi</a></li>
                    <li><a href="https://ww1.mangafox.online/category/one-shot" title="One shot">One shot</a></li>
                    <li><a href="https://ww1.mangafox.online/category/adventure" title="Adventure">Adventure</a></li>
                    <li><a href="https://ww1.mangafox.online/category/ecchi" title="Ecchi">Ecchi</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/myscript.js"></script>

    <!-- GoStats JavaScript Based Code -->
    <script type="text/javascript">
(function(c,o,m,p,u,t,e){
c['GoStatsObject']=u;c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},
c[u].l=1*new Date();t=o.createElement(m);t.async=1;t.src=p;
e=o.getElementsByTagName(m)[0];e.parentNode.insertBefore(t,e);
})(window,document,'script','//www.gostats.org/5.js','go');
go('init',701070286,{'img_counter_type':5,'img_image_type':1});go('send');</script>
    <!-- End GoStats JavaScript Based Code -->

</body>
</html>