@model Testing.Models.NguoiDung

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/ResAndLogLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form">
        <a href="/Home/Index" style="background: #000000; color: #ffffff; display: block;  text-decoration: none;  
                                     padding: 15px;  font-size: 20px;  float: left;  width: 100%;  text-align: center; 
                                     cursor: pointer;  transition: .5s ease;">Trang chủ<i class="fa fa-home"></i></a>
        <ul class="tab-group">
            <li>@Html.ActionLink("Đăng Ký", "DangKy", "User")</li>
            <li class="tab-content active">@Html.ActionLink("Đăng Nhập", "DangNhap", "User")</li>
        </ul>
        <div id="login">
            <h1>Welcome Back!</h1>
            <h2>@ViewBag.ThongBao</h2>
            <div class="field-wrap">
                <label>
                    Email Address<span class="req">*</span>
                </label>
                <input name="TaiKhoan" required autocomplete="off" />
            </div>
            <div class="field-wrap">
                <label>
                    Password<span class="req">*</span>
                </label>
                <input name="MatKhau" type="password" required autocomplete="off" />
            </div>
            <p class="forgot"><a href="#">Forgot Password?</a></p>
            <button type="submit" class="button button-block">Get Started</button>
        </div>
    </div>
        <!-- /form -->
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="~/Content/js/index.js"></script>
}

