/* lg */
@media (min-width: 1200px) {
	
}

/* iPad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	
}

/* sm */

/*Menu*/
@media (max-width: 1200px) {
	
}

@media (max-width: 991px) {
	.menu{
		display: none;
	}
	.search{
		display: none;
	}
	.logo{
		width: 90%;
	}
	.frm_search{
		width: 100%;
	}
	.frm_search input{
		width: calc(100% - 44px);
		float: left;
		border: none;
		border-radius: 0;
		height: 36px;
		padding-left: 15px;
		color: #12242f;
	}
	.frm_search input:focus, .frm_search button:focus{
		outline: none;
	}
	.frm_search button{
		width: 44px;
		border: none;
	    background-color: #fff;
	    font-size: 25.5px;
	    padding: 0 10px;
	    transition: color 0.5s ease;
	}
	.frm_search button:hover{
		color: #12242f;
	}
	.menu_xs_sm{
		width: 10%;
		display: block;
		float: right;
		padding-top: 15px;
	}
	#categories .search_mobile{
		display: block;
	}

	.my_container {
	    max-width: 900px;
	}
	.content_left, .content_right{
		width: 100%;
		margin: 0;
	}
	.content_right{
		margin-top: 15px;
	}
}
 

/* xs */
@media (max-width: 767px) {
	.header{
		position: relative;
	}
	.menu_xs_sm{
		position: absolute;
		top: -3px;
    	right: 15px;
	}
	
	.logo{
		width: 100%;
		text-align: center;
	}
	
	.category{
	    display: none;
	}
	.category1{
	    display: block;
	}
	
	.cate{
        display: none;
	}
	.account_item, .popular_photo_item{
		width: 50%;
	}
	footer {
	    line-height: 0px;
	    text-align: center;
	}
	.footer_left, .footer_right{
		width: 100%;
		text-align: center;
		padding-top: 23px;
	}
	.footer_right ul li {
	    padding: 0 4px;
	}
	.min_left_container, .max_left_container{
		width: 100%;
	}
	.max_left_container{
		padding-left: 0px;
	}
	#categories .search_mobile{
		display: block;
	}
	.language{
		display: none;
	}

	.dropdown_language {
	    padding: 5px 10px;
	}
	.dropdown_menu {
	    top: 31px;
	    right: 10px;
	}
	
	.content_grid_item{
		width: 33.3333%;
	}
}

/* 320px to 568 px landscape*/
@media (max-width: 650px){
	
}
@media (max-width: 600px){
	.content_grid_item{
		width: 50%;
	}
}
@media (max-width: 550px){
	.manga_info_left{
		width: 50%;
		margin-left: 50%;
		transform: translateX(-50%);
	}
	.manga_name h1{
		margin-top: 0; 
	}
	.manga_info_right{
		width: 100%;
	}
	.manga_name{
		text-align: center;
	}
	.next_prev, .zoomm{
		width: 100%;
		text-align: center;
	}
	.next_prev{
		padding-bottom: 20px;
	}
}
@media (max-width: 500px){
	#breadcrumb_custom, .breadcrumb_custom{
		height: auto;
	}
	.breadcrumb_custom{
		padding: 5px 0;
	}
	.breadcrumb_custom ul li {
	    line-height: 20px;
	}
}

/* 375px to 667 px landscape*/
@media (max-width: 450px){
	.manga_info_left{
		width: 70%;
	}
}
@media (max-width: 400px){
	.content_grid_item{
		width: 100%;
	}
	.chapter_number{
		width: 35%;
	}
	.chapter_time{
		width: 45%;
	}
}
@media (max-width: 320px){

}

/* 414px to 736 px landscape*/
@media (min-width: 600px) and (max-width: 991px) and (orientation: landscape){
	
}
@media (min-width: 667px) and (max-width: 767px) and (orientation: landscape){
	
}